@media(max-width:930px){
    .ml-3rem{
        margin-left: 1rem;
    }
    .image-hover{
        -webkit-transform: scale(.8);
        transform: scale(.8);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .image-hover:hover{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media(max-width:900px){
    .ml-3rem
    {
        margin-left: .5rem;
    }
}

@media(max-width:880px){
    .ml-3rem{
        margin-left: 6rem;
    }

    .grid-column-three{
        grid-template-columns: 0;
    }

    .grid-column-two{
        grid-template-columns: repeat(2, 1fr);
    }

    .image-hover{
        -webkit-transform: scale(.9);
        transform: scale(.9);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .image-hover:hover{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media(max-width:790px){
    .ml-3rem{
        margin-left: 4rem;
    }
}

@media(max-width:720px){
    #main-heading{
        font-size: 80px;
    }
}

@media(max-width:702px){
    .ml-3rem{
        margin-left: 2.5rem;
    }
}

@media(max-width:642px){
    .ml-3rem{
        margin-left: 1.7rem;
    }
}

@media(max-width:602px){
    .ml-3rem{
        margin-left: 1rem;
    }
}

@media(max-width:590px){
    .ml-3rem{
        margin-left: .5rem;
    }
}

@media(max-width:578px){
    .ml-3rem{
        margin-left: 1rem;
    }

    .all-image{
        width: 16rem;
    }
}

@media(max-width:570px){
    #main-heading{
        font-size: 60px;
    }
}

@media(max-width:540px){
    #main-heading{
        font-size: 40px;
    }
}

@media(max-width:530px){
    .ml-3rem{
        margin-left: .5rem;
    }
}

@media(max-width:512px){
    .ml-3rem{
        margin-left: 0;
    }
}

@media(max-width:502px){
    .grid-column-two{
        grid-template-columns: repeat(1 , 1fr);
    }
    .all-image{
        max-width: 30rem;
        width: 30rem;
    }
}

@media(max-width:480px){
    .all-image{
        width: 25rem;
    }

    .ml-3rem{
        margin-left: 2rem;
    }
}

@media(max-width:476px){
    .all-image{
        width: 25rem;
    }
    .ml-3rem{
        margin-left: 2rem;
    }
}

/* @media(max-width:430px){
    .image-hover{
        -webkit-transform: scale(.6);
        transform: scale(.6);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .image-hover:hover{
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
} */

@media(max-width:440px){
    .ml-3rem{
        margin-left: 0;
    }
}

@media(max-width:412px){
    .all-image{
        width: 23rem;
    }

    .ml-3rem{
        margin-left: 1rem;
    }
}

@media(max-width:398px){
    .all-image{
        width: 22rem;
    }
}

@media(max-width:376px){

    .all-image{
        width: 21rem;
    }
}

@media(max-width:362px){
    .all-image{
        width: 20rem;
    }
}

@media(max-width:342px){

    .all-image{
        width: 19rem;
    }
}

@media(max-width:328px){
    .all-image{
        width: 18rem;
    }
}

@media(max-width:310px){
    .all-image{
        width: 17rem;
    }
}